<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'course_app/bootstrap.min.css'%}">
    <title>Courses</title>
  </head>
  <body>
    <div class="container">
      <h2>Course Name: {{ course.name }}</h2>
      <h4>Course Description: {{ course.description.description }}</h4>
      <h3>Add a comment on this course</h3>
      <form action="/courses/{{ course.id }}/comment" method="post">
        {% csrf_token %}
        <label for="description" class="control-label">Comment:</label>
        <textarea name="comment" rows="4" class="form-control"></textarea>
        <div>&nbsp;</div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
      <div>&nbsp;</div>
      {% if comments %}
        <div class="panel panel-success">
          <div class="panel-heading">
            <h2>Comments on This Course:</h2>
          </div>
          {% for comment in comments %}
          <div class="panel panel-body">
            <label class="control-label"> {{ comment.created_at }}</label>
            <p>{{ comment.comment }}</p>
          </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="text-center">
        <form action="/" method="get">
          <input type="submit" class="btn btn-success d-inline-block" value="Return To Home">
        </form>
      </div>
    </div>
  </body>
</html>
