<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <title>The Wall</title>
  </head>
  <body>
    <div class="container col-xl-10 col-xl-offset-1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <div class="well container-fluid">
        <h3 class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-inline">CodingDojo Wall</h3>
        <span class="navbar-right">Hello, {{session['first_name']}}<span>&nbsp; &nbsp;</span>
        <a href="/logout" class="navbar-link">Log out</a></span>
      </div>
      <div class="row">
        <div class="form-group col-xl-10 col-xl-offset-1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <form action="/new_message" method="POST">
            <label for="message">Post a message:</label>
            <textarea class="form-control" rows="5" name="message"></textarea>
            <div>&nbsp;</div>
            <input type="submit" value="Post Message" class="btn btn-primary pull-right active">
          </form>
        </div>
      </div>
      {% for messages in all_messages %}
        <div id="messages_comments" class="panel panel-primary row col-xl-10 col-xl-offset-1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <p class="media-object h5">{{messages['first_name']}} {{messages['last_name']}} - {{messages.created_at.strftime('%B %dth %Y, %I:%M%p:')}}</p>
          <hr class="media-heading">
          <p id="message_text" class="preserve-whitespace media-body">{{messages['message']}}</p>
            {% if messages['user_id'] == session['user_id']%}
              <form class="d-inline-block" action="/messages/{{messages['id']}}/delete" method="post">
                <input class="btn btn-danger btn-xs pull-right" type="submit" value="Delete Message">
              </form>
              <p class="media-heading">&nbsp;</p>
              <hr class="media-heading">
            {% else %}
              <hr>
            {% endif %}
          <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group media-object col-xl-10 col-xl-offset-1 col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
              {% for comments in message_comments %}
                {% if comments['message_id'] == messages.id %}
                  <p class="media-object h5">{{comments['first_name']}} {{comments['last_name']}} - {{comments.created_at.strftime('%B %dth %Y, %I:%M%p:')}}</p>
                  <hr class="media-heading">
                  <p class="preserve-whitespace media-body">{{comments['comment']}}</p>
                    {% if comments['user_id'] == session['user_id']%}
                      <p>
                        <form class="d-inline-block" action="/comments/{{comments['id']}}/delete" method="post">
                          <input class="btn btn-danger btn-xs pull-right" type="submit" value="Delete Comment">
                        </form>
                      </p>
                    {% endif %}
                    <p class="media-heading">&nbsp;</p>
                {% endif %}
              {% endfor %}
              <form action="/new_comment/{{messages['id']}}" method="POST">
                <label for="comment">Post a Comment</label>
                <textarea class="form-control" rows="2" name="comment"></textarea>
                <div>&nbsp;</div>
                <input type="submit" value="Post Comment" class="btn btn-sm btn-success pull-right active">
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
