<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="survey using forms, flask, and python" name="Dojo Survey">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dojo Survey Index</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div id="wrapper">
      <div id="form_area">
        <form action="/result" method="post">
          <label>
            Your Name:
          </label>
          <input type="text" name="name"></br>
          <label>
            Dojo Location:
          </label>
          <select required name="location">
            <option value="" disabled selected hidden>Select a Location</option>
            {% for location in ['Chicago', 'Dallas', 'San Francisco', 'Seattle']  %}
            <option value=location>{{ location }}</option>
            {% endfor %}
          </select></br>
          <label>
            Favorite Language
          </label>
          <select required name="language">
            <option value="" disabled selected hidden>Select a Language</option>
            {% for language in ['JavaScript', 'Python', 'Ruby'] %}
            <option value=language>{{ language }}</option>
            {% endfor %}
          </select></br>
          <label>
            Comment (optional):
          </label></br>
          <textarea rows="5" name="comment"></textarea></br>
          <button type="submit">Submit</button>
        </form>
      </div><!-- end form area -->
    </div><!-- end wrapper -->
  </body>
</html>
