<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <title>E-Mail Validation</title>
  </head>
  <body>
    <div class="container">
      <div class="form-group">
        &nbsp;
      </div>
      <div class="form-group">
        &nbsp;
      </div>
      <div class="jumbotron">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-danger text-center" role="alert">
                <h4>{{message}}</h4>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="form-group">
          <form action="/process" method="post">
            <label for="email">Please Enter a Valid E-Mail Address: </label>
            <input class="form-control" type="text" name="form_email" value="{{ email }}">
            <div class="form-group">
              &nbsp;
            </div>
            <input class="btn btn-default" type="submit" value="Add E-Mail">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
