<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'ninjafox/css/bootstrap.min.css' %}">
    <title>Ninjas</title>
  </head>
  <body>
  <div class="container">
    <img class='center-block' src="{% static 'ninjafox/images/tmnt.png' %}" alt="the teenage mutant ninja turtles">
    <div class="well text-center">
      <p>You found the ninjas! This might not be so <strong>black</strong> and <strong>white</strong> though...</p>
      <p>Can you find any individual ninjas?</p>
    </div>
  </div>
  </body>
</html>
